{% extends "registration/base.html" %}
{% block title %}Reset Password{% endblock title %}
{% block body %}

<body class="background">
    <br>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success" style="text-align: center;" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" style="text-align: center;" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <br>
        <div class="black-box p-5">
            <center>
                <h2>Password Reset</h2>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-md" value="Reset">Reset</button>
                </form>
                <br>
                <a href="/">Back to home page</a>
            </center>
        </div>
    </div>
<br>
</body>
{% endblock %}