{% extends "registration/base.html" %}
{% block title %}Done{% endblock title %}
{% block body %}

<body class="background">
    <br>
    <div class="container">
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success" style="text-align: center;" role="alert">
          {{message}}
      </div>
      {% endif %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" style="text-align: center;" role="alert">
          {{message}}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      <br>
        <div class="black-box p-5">
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
              </p>
              <p >
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
              </p>
            <br>
            <a href="/servant/accounts/login/">Back to login page</a>
        </div>
    </div>
    <br>
  </body>
{% endblock %}