{% extends "registration/base.html" %}
{% block title %}Password Reset Form{% endblock title %}
{% block head %}
<style>
body{
    list-style-type: none;
}
</style>
{% endblock %}
{% block body %}

<body class="background">
    <br>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success" style="text-align: center;" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger" style="text-align: center;" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <br>
        <div class="black-box p-5">
            <center>
                <h2>Password Reset Form</h2>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-md" value="Change">Submit</button>
                </form>
                <br>
            </center>
        </div>
    </div>   
     <br>
</body>
{% endblock %}